torch
torchsde
einops
transformers>=4.25.1
safetensors>=0.3.0
aiohttp
accelerate
pyyaml
Pillow
scipy
tqdm
psutil
segment-anything
scikit-image
piexif
torch
importlib_metadata
huggingface_hub
scipy
opencv-python>=4.8.0
filelock
numpy
Pillow
einops
torchvision
timm==0.6.13
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
fairscale==0.4.4
pycocoevalcap

