torch==2.1.0
torchsde
torchvision==0.16.0
torchaudio
einops
transformers
tokenizers>=0.13.3
sentencepiece
safetensors>=0.3.0
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
kornia>=0.7.1
spandrel
soundfile

accelerate
segment-anything
scikit-image
piexif
importlib_metadata
huggingface_hub
opencv-python>=4.8.0
filelock
numpy
timm

python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
fairscale==0.4.4
pycocoevalcap
onnxruntime
qrcode
imageio-ffmpeg

wget

yacs
trimesh[easy]
albumentations
scikit-learn

qrcode[pil]
pytorch_lightning
kornia
pydantic

GitPython
openmim
ultralytics!=8.0.177

insightface==0.7.3
onnx>=1.14.0

rembg

cmake
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
imageio
joblib
matplotlib
numba
numpy>=1.18.5,<1.25.0
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
timm>=0.4.12

deepdiff
pynvml
py-cpuinfo

pymatting

moviepy
urllib3
torchdiffeq
torchmetrics
av
decord
eva-decord
diffusers>=0.28.0
open-clip-torch==2.20.0

torchsde
spandrel
kornia
rembg
wget
deepdiff
pymatting
insightface
av
pynvml
mediapipe
diffusers
segment_anything
piexif
timm
omegaconf
diffusers